<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CV - <%= cv.firstName + ' ' + cv.lastName %></title>
   <style>
      html {
         font-family: 'Open Sans', sans-serif;
      }
      <%= cvStyle %>
   </style>
   
</head>
<body>
<div class="page">
   <div class="container">
      <header class="header">
         <h1 class="title mainColor"><%= cv.firstName + ' ' + cv.lastName %></h1>
         <div class="line"></div>
         <h2 class="subtitle subColor"><%= `${cv.level} ${cv.devLanguage} ${cv.profession}`%></h2> 
      </header>
      <main class="main">
         <section class="motivation">
            <p class="text"><%= cv.motivation %></p>
         </section>
         <section class="skills">
            <h2 class="title">Skills:</h2>
            <div class="line"></div>
            <div class="skills-box">
               <div class="skill-box full">
                  <% let p = false %>
                  <% for(skill of cv.skills) { %>
                     <% if (skill.learned) { %>
                        <div class="skill">
                           <%= skill.name %>
                        </div> 
                     <% } else { %>
                        <% p = true %>
                     <% } %>
                  <% } %>
               </div>
               <% if (p) { %>
                  <div class="skill-box">
                     <h3 class="subtitle">In progress:</h3>
                     <% for(skill of cv.skills) { %>
                        <% if (skill.learned === false) { %>
                           <div class="skill"><%= skill.name %></div> 
                        <% } %>
                     <% } %>
                  </div>
               <% } %>
               <div class="skill-box">
                  <h3 class="subtitle">Language:</h3>
                  <% for(item of cv.languages) { %>
                     <div class="skill"><%= item %></div> 
                  <% } %>
               </div>
            </div>
         </section>
         <section class="experience">
            <h2 class="title">Projects:</h2>
            <div class="line"></div>
            <% for (project of projects) { %>
               <% if (project.showInCv) { %>
                  <article class="experience__box">
                     <h3 class="experience__title"><%= project.name %>
                        <%
                           const length = Object.keys(project.links).length
                           if(length) { 
                        %>
                           ( <%_ if (project.links.online) { %> <a href="<%= project.links.online %>" target="_blank">Online</a> <% } -%>
                           <%_ if (length) { %> / <% }-%>
                           <%_ if (project.links.github) { %> <a href="<%= project.links.github %>" target="_blank">Github</a> <% } -%> )
                        <% } %>
                     </h3>
                     <ul class="experience__list">
                        <li class="experience__item">
                           <span>Tech stack:</span>
                           <% for (item of project.stack) { %>
                              <span class="experience__one"><%= item %></span>
                           <% } %>
                        </li>
                        <li class="experience__item">
                           <span>Description:</span> <%= project.description %>
                        </li>
                     </ul>
                  </article>
               <% } %>
            <% } %>
            
         </section>
         
         <section class="experience">
            <h2 class="title">Experience:</h2>
            <div class="line"></div>
            <% for(item of cv.experience) { %>
               <article class="experience__box">
               <h3 class="experience__title"><%= item.position %></h3>
               <p class="experience__info">( <%= item.company %> - <%= item.duration %>, <%= item.location %> )</p>
               <ul class="experience__list">
                   <li class="experience__item">
                       <span>Tech stack:</span>
                        <% for(tech of item.stack) { %>
                           <span class="experience__one"><%= tech %></span>
                        <% } %>
                   </li>
                   <li class="experience__item">
                       <span>Responsibility:</span> <%= item.responsibility %>
                   </li>
                   <li class="experience__item">
                       <span>Main projects:</span>
                        <% for(project of item.projects) { %>
                           <a href="<%= project.url %>" class="alter"><%= project.name %></a>
                        <% } %>
                   </li>
               </ul>
           </article>
            <% } %>
         </section>
      </main>
      <section class="contact">
         <h2 class="title">Links:</h2>
         <div class="line"></div>
         <% for (item of cv.contact) { %>
            <div class="contact-box">
               <%= item.link %>
            </div>
         <% } %>
         <% for (item of cv.social) { %>
            <a href="<%= item.url %>" target="_blank" rel="noopener noreferrer">
               <div class="contact-box">
                  <%= item.name %>
               </div>
            </a>
         <% } %>
      </section>
      <footer class="footer">
         <p>
            Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (RODO).
         </p>
      </footer>
   </div>
</div>

</body>
</html>
